<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WindowsAppStudio.Common" version="0.1.1" targetFramework="win81" userInstalled="true" />
  <package id="WindowsAppStudio.DataProviders" version="0.1.1" targetFramework="win81" userInstalled="true" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="win81" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights" version="1.1.0" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights.PersistenceChannel" version="1.1.0" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights.WindowsApps" version="1.1.0" targetFramework="win81" userInstalled="true" />
</packages>
