<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:appstudio="http://schemas.microsoft.com/developer/appx/2015/appstudio" 
  IgnorableNamespaces="uap mp appstudio">
			<Identity Name="MicrosoftWindowsAppStudio.DJNanoShow" Publisher="CN=687403C5-72F1-42B7-87C2-A050E9459F28" Version="1.3.6.0" />
	    <mp:PhoneIdentity PhoneProductId="543c63b8-2956-4450-8efd-1cf199bee7ed" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
    <Properties>
        <DisplayName>DJNano Show</DisplayName>
        <PublisherDisplayName>Microsoft Windows App Studio</PublisherDisplayName>
        <Logo>Assets\StoreLogo.png</Logo>
    </Properties>
    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    </Dependencies>
    <Resources>
        <Resource Language="x-generate"/>
    </Resources>
    <Applications>
        <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DJNanoShow.App">
            <uap:VisualElements 
			  DisplayName="DJNano Show"
              Square150x150Logo="Assets\Square150x150Logo.png"
              Square44x44Logo="Assets\Square44x44Logo.png"
              Description="Official DJ Nano App created with App Studio"
              BackgroundColor="#000000">
                <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#000000"/>
                <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" Square71x71Logo="Assets\Square71x71Logo.png">
                    <uap:TileUpdate Recurrence="halfHour" UriTemplate="http://ds.winappstudio.com/api/tile10?config=SQIAAB~LCAAAAAAABACNkV9PwjAUxb9Ln2syBpiwNwQ1CAiyGSTGmIqX0dB2S/9MFrLvzu02Eh80IXvpuff0/G7vTmRskjIHEt1SPI4yteMpiU7kxYEumw7JBSsFN5bQpoyl5UwOV/2HMV/tTHfTHRmpN7Z4mvzc2M10/1m8xWheDJ3dTwH9vXAQDipKEpAYZsETEi7gmUkPWAIc0H~nmfrmCvkBDsON57YO7D7qzOWGRO8nEruvX2oNPN1bEnWCwBOONrZse7jk3AuQoGxj9V3PxndaLGJwwq0ATF9rlpPIageUzLmacQV4RTkhULNjq0Pq2f5GtGPCoDe2pVc9SoaCp0rWqQE~dSJZCk1CRf8ix05Khsu8lt3/j925jt3ktS3cod7iELV81QKnWIHMCpgznXJ1mWaks7ze4qIAjX~jPi8F20IDC6vqo/6qM4E/ZzZJAgAA"/>
                    <uap:ShowNameOnTiles>
                        <uap:ShowOn Tile="square150x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo" />
                    </uap:ShowNameOnTiles>
                </uap:DefaultTile>
            </uap:VisualElements>
        </Application>
    </Applications>
    <Capabilities>
        <Capability Name="internetClient" />
    </Capabilities>
    <appstudio:Metadata>
        <appstudio:Item Name="appId" Value="543c63b8-2956-4450-8efd-1cf199bee7ed" />
        <appstudio:Item Name="model" Version="1.14" />
        <appstudio:Item Name="formula" Value="Win10" Version="1.12.0222.1" />
        <appstudio:Item DataSource="Collection" Version="1.2.*"/>
        <appstudio:Item DataSource="YouTube" Version="1.2.*"/>
        <appstudio:Item DataSource="Instagram" Version="1.2.*"/>
        <appstudio:Item DataSource="Menu" Version="1.2.*"/>
        <appstudio:Item DataSource="Facebook" Version="1.2.*"/>
        <appstudio:Item DataSource="Twitter" Version="1.2.*"/>
        <appstudio:Item DataSource="Html" Version="1.2.*"/>
    </appstudio:Metadata>
</Package>
